{% extends 'project_base.html' %}

<!-- Header-->
{% block header%}
<h1>General Projects</h1>

{% endblock %}
{% block content%}
<section class="container-fluid">

    <!-- Data Analysis Projects -->
    <div class="col-sm-4">
        <h3>Behavior Risk Factor Surveillance System Analysis in R</h3>
        <p>According to Kaggle.com, BRFSS, short for Behavioral Risk Factor Surveillance System, The objective of the BRFSS is to collect uniform, state-specific data on preventive health practices and risk behaviors that are linked to chronic diseases, injuries, and preventable infectious diseases in the adult population. Factors assessed by the BRFSS include tobacco use, health care coverage, HIV/AIDS knowledge or prevention, physical activity, and fruit and vegetable consumption. Data are collected from a random sample of adults (one per household) through a telephone survey.

            The Behavioral Risk Factor Surveillance System (BRFSS) is the nation's premier system of health-related telephone surveys that collect state data about U.S. residents regarding their health-related risk behaviors, chronic health conditions, and use of preventive services. Established in 1984 with 15 states, BRFSS now collects data in all 50 states as well as the District of Columbia and three U.S. territories. BRFSS completes more than 400,000 adult interviews each year, making it the largest continuously conducted health survey system in the world.
            
            The Data Analysis Process
            Using the R language and RStudio along with a few CRAN packages (including tidyverse), I performed the following in my analysis:
            
            Imported csv dataset into RStudio
            conducted Exploratory Data Analysis (EDA)
            Explored the relationship between Marital Status and Minutes of Total Physical Activity Per Week variables
            Data Visualizations
            Built model to predict Minutes of Total Physical Activity Per Week by Martial Status using linear regression
            Ran an Analysis of Variance (ANOVA) test to compare Minutes of Total Physical Activity Per Week across the five groups of Marital Status
            Ran a Post-Hoc test to tell which group means were different
            Ran another linear regression with the added Total Fruits Consumed Per Day variable and used R-squared and AIC to conclude which model was the better model
            Selected four categorical variables to explore
            Performed Data Visualizations with ggplot2
            Ran basic descriptive statistics on the four variables
            Chose one of the four variables to predict using multinomial logistical regression</p>
        <a href="https://github.com/christopherbrunswick/BRFSS2015-Data-Analysis/tree/master">Github Link</a>
    </div>

    <div class="col-sm-4">
        <h3>Statistical Analysis on Mice Brain in SAS</h3>
        <p>No major introduction to project. The only task was to perform statistical tests on 300 records of mice brain with several features in R</p>
        <a href="https://github.com/christopherbrunswick/R-hands-on-work-and-project">Github Link</a>
    </div>

    <div class="col-sm-4">
        <h3>Blue Cross Blue Shield Data Analysis</h3>
        <p>A project that illustrates SAS skills with a final project that analyzes Blue Cross Blue Shield data</p>
        <a href="https://github.com/christopherbrunswick/SAS-hands-on-work-and-final-project">Github Link</a>
    </div>
</section>
{% endblock %}